body {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ib {
    display: inline-block;
}
.vam {
    vertical-align: middle;
}
@font-color: #50514f;
@action-color: #247ba0;